.main {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  background-color: white;
  padding: 20px;

  display: flex;
  flex-flow: column;
  row-gap: 20px;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
